@model TennisSource.Models.TennisTournament

@{
    ViewData["Title"] = "Create";
}

<h1 class="border-bottom border-white text-white pb-2 border-3">Post A Tournament</h1>


<div class="row card mt-2 px-0 py-4 cardgradient border-5 rounded-5 border-white text-white" data-bs-theme="Light">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control bg-white" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control bg-white" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control bg-white" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <input asp-for="Organizer" class="form-control bg-white" />
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control bg-white" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control bg-white form-text-white" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Post Event" class="btn btn-light" /> |
                <a asp-action="Index" class="link-light ">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
